
* {
    box-sizing: border-box;
  }
  
  .header {
    /*border: 1px solid red;*/
    padding: 15px;
    text-align: center;
    background: url("assets/banner2.png") left top no-repeat, url("assets/banner3.png") left top repeat;
    background-size: 16.66% 100%;
    /* background-repeat: no-repeat; */
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  #intro {
    border: 10px solid coral;
    background-color: palegoldenrod;
    text-align: center;
}


#title {
    
    color: red;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#winner {
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    height: 20px;
}

img {
    height: 50px;
    width: 50px;
}

#cv {
    display: block;
    margin: 0 auto;
    border: 1px red solid;
    text-align: center;
}

canvas {
    /*display: block;
    margin: 0 auto;*/
    /*float: center;*/
    border-style: double;
    border-width: 20px;
    border-radius: 5px;
    background-color: orange;
}


.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
  
.button1:hover {
    background-color: #4CAF50;
    color: white;
}

#btn_group {
    background-color: #dbcdcc;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 
    border-left: 3px solid #f36d33;
}

.btncode1 {
    display: inline-block;
    color: green;
    background-color: goldenrod;
    font-weight: bold;
    font-size: 14px;
}

.btncode1:hover {
    color: red;
    background-color: greenyellow;
}

/*pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 0.1em 0.1em; 
    display: block;
    word-wrap: break-word;
}
*/

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font: normal normal 14px/16px "Courier New",Courier,Monospace;
    line-height: 1.0;
    margin-top: 0;
    max-width: 100%;
    padding: .5em 1em;
    display: block;
    word-wrap: break-word;

    overflow: auto;
    /* overflow-x: auto; */
    white-space: pre-wrap;
    counter-reset: line;
}

pre .line-number {
    float: left;
    margin: 0 1em 0 -1em;
    border-right: 1px solid;
    text-align: right;
}

pre .line-number span {
    display: block;
    padding: 0 .5em 0 1em;
}

pre .cl {
    display: block;
    clear: both;
}